<div class="three_column_wysiwyg_widget">
    <div class="row">
        <div class="col-md-4">
            {{ left_content|raw }}
        </div>
        <div class="col-md-4">
            {{ center_content|raw }}
        </div>
        <div class="col-md-4">
            {{ right_content|raw }}
        </div>
    </div>
</div>
