<div class="half_wysiwyg_half_image_widget">
    <div class="row">
        <div class="col-md-6">
            {{ left_content|raw }}
        </div>
        <div class="col-md-6">
            {{ img(image)|raw }}
        </div>
    </div>
</div>
