<div class="half_image_half_wysiwyg_widget">
    <div class="row">
        <div class="col-md-6">
            {{ img(image)|raw }}
        </div>
        <div class="col-md-6">
            {{ right_content|raw }}
        </div>
    </div>
</div>
